cli_tool/node_modules/
desktop_version/node_modules/
portal_version/node_modules/
test_network/node_modules/
server_request_handler/node_modules/
server_service_creator/node_modules/
server_service_deployer/node_modules/
doctor/node_modules/
server_auth/node_modules/
node-tunnel-master/
server_service_creator/docker/web/static/websockify
server_service_creator/docker/web/static/noVNC