<footer style="bottom: 0;left:0;width: 100%;" class="color p-3">
    <div class="container">
        <div class="row">
            <div class="col font-weight-bold text-white">
                <p>© 2021, IIIT Nagpur</p>
                <p>Mentor: Dr Jitendra Tembhurane</p>
            </div>
            <div class="col text-white text-right">
                <p>Internal Compute Cloud</p>
                <p>By Yash, Prince and Ganesh</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
