<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title ? title : 'IC2' %>
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark color p-3">
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col">
                    <a class="navbar-brand" href="#">
                        <h3>Internal Compute Cloud</h3> -a final year project
                    </a>
                </div>
                <div class="col text-right text-white">
                    <h3>Client Portal</h3> - connect your machine to help others
                </div>
            </div>
            
        </div>
    </nav>